/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff8f0;
    color: #333;
}

/* Container centralizado */
.container {
    max-width: 1400px;
    margin: 50px auto;
    text-align: center;
    background-color:#7B451D;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* Título principal */
h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 30px;
    
}

/* Botões */
.botoes button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botoes button:hover {
    background-color: #fff8f0;
}


